body{
    font-family: 'Prompt', sans-serif;
    
    background-image: url("../img/fondo.jpg");  
    
    /*
    background: rgb(101,101,101);
    background: -moz-radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#656565",endColorstr="#000000",GradientType=1);
    */
    
    color: #f5f5f5;
}


li{
    border-radius: 1rem;
    transition: .3s;
}
/*
li:hover{
    background-color: #fdd100;
}*/

.barranav{
    padding: 2rem;
}

.barranav li a{
    transition: .5s;
    border-radius: 1rem;
}
.elementosNav a{
    padding: 1rem;
}
.elementosNav a:hover{
    color: #252525;
    background-color: #fdd100;
}

.bg-color1{
    background-color: #fdd100;
}

.bg-color2{
    background-color: #252525;
}

.bg-color3{
    background-color: #333533;
    color: #f5f5f5;
}

.textColor{
    color: #fdd100;
}

a{
    text-decoration: none;
    color: #f5f5f5;
}

.portada{
    transform: scale(.7);
    transition: .5s;  
}
.portada:active{
    transform: scale(.1);
}


.imgGiratoria{
    width: 60%;
    animation-name: girar; /*pongo el keyframe que quiero que haga*/
    animation-iteration-count: infinite; /* para que haga un loop infinito*/
    animation-duration: 10s; /*por cuanto tiempo quiero que haga el efecto*/
}

.imgPortfolio img{
    transition: .5s;
}
.imgPortfolio img:hover{
    transform: scale(.8);
}

.c-imgPrincipal{
    padding-top: 11%;
    padding-bottom: 21%;
}

@keyframes girar{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)
    }
}