body{
    font-family: 'Prompt', sans-serif;
    
    background-image: url("../img/fondo.jpg");  
    
    /*
    background: rgb(101,101,101);
    background: -moz-radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#656565",endColorstr="#000000",GradientType=1);
    */
    
    color: #f5f5f5;
}


li a{
    border-radius: .5rem;
    transition: .3s;
}

li a:hover{
    background-color: #ffd500d3;
    color: #252525;
}


.bg-light{
    background-color: none;
}

.bg-color1{
    background-color: #fdd100;
}

.bg-color2{
    background-color: #252525;
}

.bg-color3{
    background-color: #333533;
    color: #f5f5f5;
}

.textColor{
    color: #fdd100;
}

a{
    text-decoration: none;
    color: #f5f5f5;
}

.portada{
    transform: scale(.7);
    transition: .5s;  
}
.portada:active{
    transform: scale(.1);
}


.movimiento{
    animation-name: mover; /*pongo el keyframe que quiero que haga*/
    animation-iteration-count: infinite; /* para que haga un loop infinito*/
    animation-duration: 15s; /*por cuanto tiempo quiero que haga el efecto*/
    animation-fill-mode: scale(.8);
}
.giratorio{
    animation-name: girar; /*pongo el keyframe que quiero que haga*/
    animation-iteration-count: infinite; /* para que haga un loop infinito*/
    animation-duration: 15s; /*por cuanto tiempo quiero que haga el efecto*/
}

.imgPortfolio{
    transition: .5s;
}

.imgPortfolio:hover{
    transform: scale(.8);
}

.c-imgPrincipal{
    padding-top: 11%;
    padding-bottom: 21%;
}

@keyframes mover{
    0%{
        transform: scale(.8)
    }
    50%{
        transform: scale(.6)        
    }
    100%{
        transform: scale(.8)
    }
}


@keyframes girar{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)      
    }
}


@media only screen and (max-width:990px){
    h1{
        font-size: 2rem;
    } 
}

@media only screen and (max-width:700px){
    h1{
        font-size: 1.5rem;
    } 
    .formContacto label{
        display: block;
    }
}